<!-- COCKTAILS -->
<div class="container cocktail-body mw-60">
  <div class="row mt-5">
      <% @cocktails.each do |cocktail| %>
        <div class="col-5 card-cocktail">
          <% if cocktail.photo.present? %>
            <%= cl_image_tag cocktail.photo.key, class:"card-img" %>
          <% end %>
          <div class="cocktail-description">
            <div class="name-ingredients">
              <h3> <%= link_to cocktail.name, cocktail_path(cocktail.id), class:"cocktail-name"%> </h3>
              <ul class="ingredient-list">
                <% cocktail.doses.each do |dose| %>
                  <li><%= dose.description %> <%= dose.ingredient.name %></li>
                <% end %>
              </ul>
            </div>
            <div class="cocktail-time">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <p><%= rand(3..8) %> min</p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

